/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
	
}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
		
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
	iframe {
		width: 470px;
		height: 200px;
	}
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	iframe {
		width: 700px;
		height: 300px;
	}
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	iframe {
		width: 900px;
		height: 400px;
	}
}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
	iframe {
		width: 1190px;
		height: 500px;
	}
}